@font-face {
    font-family: "Druk-Cond-Super";
    src: url("~assets/fonts/Druk-Cond-Super.woff") format("woff");
}
@font-face {
    font-family: "Druk-Wide-Super";
    src: url("~assets/fonts/Druk-Wide-Super.woff") format("woff");
}